.App {
	box-sizing: border-box;
	padding: 4rem;
}

header {
	align-items: center;
	display: flex;
	justify-content: center;
	padding: 1rem;
	position: fixed;
	top: 0;
}

header a {
	margin: 0.5rem;
}

.registration-form,
.login-form,
.message-form {
	display: flex;
	flex-direction: column;
}

input {
	margin: 1rem 0;
	padding: 0.5rem;
}

button:not(.button-logout) {
	align-self: center;
	background-color: yellow;
	border-radius: 1.875rem;
	font-size: 1.5rem;
	padding: 1rem;
	min-width: 10rem;
}
